---
layout: page
permalink: features/
title: Features
# vanaf hier mag je variabelen toevoegen
isOnePagePart: true
---

<div class="jumbotron-fluid background-features">
    <div id="features" class="container">

        <h3 class="title">Features</h3>

        <div class="row">
            <div class="col-lg-2">
                <img src="" alt="">
            </div>
            <div class="col-lg-2">
                <img src="" alt="">
            </div>
            <div class="col-lg-2">
                <img id="features-logo" src="{{ 'assets/images/logo.png' | relative_url }}" alt="logo">
            </div>
            <div class="col-lg-2">
                <img src="" alt="">
            </div>
            <div class="col-lg-2">
                <img src="" alt="">
            </div>
        </div>

        <div class="text-features row">
            <div class="col-lg-2">
                <p class="text-title">Smartwatch</p>
                <p>Lorem Ipusm</p>
            </div>
            <div class="col-lg-2">
                <p class="text-title">Leaderbord</p>
                <p>Lorem Ipsum</p>
            </div>
            <div class="col-lg-2">
                <p>Lorem Ipsum</p>
            </div>
            <div class="col-lg-2">
                <p class="text-title">Global missions</p>
                <p>Lorem Ipsum</p>
            </div>
            <div class="col-lg-2">
                <p class="text-title">Teams</p>
                <p>Lorem Ipsum</p>
            </div>
        </div>
    
    </div>
</div>
        