---
layout: page
permalink: about/
title: About
# vanaf hier mag je variabelen toevoegen
isOnePagePart: true
---

<div id="about" class="container">

    <h3 class="title">About</h3>

    <div class="row">
        <div class="col-md-4">
            <img src="{{ 'assets/images/about_1.jpg' | relative_url }}" alt="running" class="img-fluid img-about">
        </div>
        <div class="col-md-4">
            <img src="{{ 'assets/images/about_2.jpg' | relative_url }}" alt="skateboarding and logo" class="img-fluid img-about">
        </div>
        <div class="col-md-4">
            <img src="{{ 'assets/images/about_3.jpg' | relative_url }}" alt="rugby" class="img-fluid img-about">
        </div>
    </div>

    <div id="text-about">
        <p>We from the American sportswear and apparel company Nike came up with this new sport game 'Team up!'. We wanted to make a fun game for sportive people where they could bundle their powers to form groups and achieve goals.</p>
        <p>In this game you can form groups with your friends from social media or other friends you've added. Together you can start missions. For each mission, you can chose which sports it will contain and select the distance/total of it. Each groupmember can try to achieve as much points for his or her group as possible, so the group can rank higher at the leaderbord and become the very best.</p>
        <p>And if your asking yourself: "Who the hell is Nike?". We're an American multinational corporation that is engaged in the design, development, manufacturing, and worldwide marketing and sales of footwear, apparel, equipment, accessories, and services. We're also one of the world's largest suppliers of athletic shoes and apparel and a major manufacturer of sports equipment. The company founded in 1964 and we work under the name of Nike since 1971. But why the name Nike, you're asking? It comes from the Greek godess of victory, because that's all that we want for people.</p>
    </div>
</div>