---
layout: page
permalink: news/
title: News
# vanaf hier mag je variabelen toevoegen
isOnePagePart: true
---

<div id="news">
    <div class="container">
        <h3 id="title-news">News</h3>

        <div class="row slides justify-content-md-center">
            <div class="col-sm-6 col-md-5 col-lg-3">
                <div class="screen-wrapper">
                    <div class="screen-item">
                        <img src="{{ 'assets/images/NEWS_App_Setup.PNG' | relative_url }}" alt="Setup your accounts!" class="img-fluid">
                    </div>
                    <div class="screen-item">
                        <img src="{{ 'assets/images/NEWS_App_home.PNG' | relative_url }}" alt="App Home" class="img-fluid">
                    </div>
                    <div class="screen-item">
                        <img src="{{ 'assets/images/NEWS_App_missions.PNG' | relative_url }}" alt="Screenshot 3" class="img-fluid">
                    </div>
                    <div class="screen-item">
                        <img src="{{ 'assets/images/NEWS_App_activity.PNG' | relative_url }}" alt="Screenshot 4" class="img-fluid">
                    </div>
                    <div class="screen-item">
                        <img src="{{ 'assets/images/NEWS_App_resume.PNG' | relative_url }}" alt="Screenshot 5" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-xs-9 col-sm-6 col-md-7">
                <div class="btn-group">
                    <button class="slides-button btn btn-secondary">1</button>
                    <button class="slides-button btn btn-secondary">2</button>
                    <button class="slides-button btn btn-secondary">3</button>
                    <button class="slides-button btn btn-secondary">4</button>
                    <button class="slides-button btn btn-secondary">5</button>
                </div>
                <div class="slides-wrapper">
                    <div class="slides-item">
                        <h4>Facebook it is!</h4> 

                        We want you to be able to keep track of all your progress, of course!
                        Therefore you will have to set up an account for the Team Up app.
                        <br><br>
                        <strong>In our latest release, <br>you will be able to quick setup via your <em>Facebook account.</em> </strong><br>
                        Using your Facebook account will immediately set up a bunch of other data you won't have to worry about!
                        Nice hè!
                    </div>
                    <div class="slides-item">
                        <h4>Around the world</h4>
                        In our latest update we have released an amazing new feature!
                        Asides from being able to set your ouwn targets, we have now a bunch of global missions!
                        These missions are presets you can choose from. Easy, challenging and fun!
                        <br><br>
                        <strong>Go check them out in your Team Up app now!</strong>
                        </div>
                    <div class="slides-item">
                        <h4>Around the world</h4>
                        When starting a new mission you can now select a global mission, create a new mission or resume where you left on an existing recent mission.
                        The circles tell you what activities are in that mission and how intensive the activity wil be.
                        <br><br>
                        <strong>In a quick glance you have your mission explained, with just a circle and a few colours.
                        <br><br>
                         Clever, isn't it?</strong>
                    </div>
                    <div class="slides-item">
                        <h4>Keep it cool</h4>
                        <strong><em> GREAT NEWS!!</em></strong>
                        <br><br>The activity overview was how been expanded with a few new options.<br>
                        Your app will now calculate an average heartrate, when connected with a smartwatch of a heartrate monitor.
                        Change the activitiesdisplay in the Team Up settings.
                        <br><br>

                        <strong>AWESOME!!</strong>

                        </div>
                    <div class="slides-item">
                        Enim magnam, eum expedita voluptatem deserunt commodi laboriosam debitis aspernatur iste similique at blanditiis doloremque possimus cupiditate fugiat veniam, aliquam vitae alias nostrum rem ducimus praesentium eveniet molestiae optio ut.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>