---
layout: page
permalink: download/
title: Download
# vanaf hier mag je variabelen toevoegen
isOnePagePart: true
---

<div id="download">
    <div class="container">
        <h3 class="title">Download the app</h3>
        <p class="text-download">Select your device platform and get the download started!</p>
        <div class="row">
            <div class="col-md-4">
                <button class="btn-primary" type="button">App store</button>
            </div>
            <div class="col-md-4">
                <button class="btn-primary" type="button">Google play</button>
            </div>
            <div class="col-md-4">
                <button class="btn-primary" type="button">Windows phone</button>
            </div>
        </div>
    </div> 
</div>

<div id="contact">
    <div class="container">
    <h3 class="contact">Contact us</h3>
    <p class="text-download">Do you have a question, something you want to ask or know? Feel free to contact us and we will try to respond as soon as possible!</p>
    <form action="" id="contact-form">
        <div class="form-group row">
            <div class="col-md-6">
                <input id="name-textarea" name="name" class="form-control" type="name" placeholder="NAME" required>
                <small class="form-control-feedback"></small>
            </div>
            <div class="col-md-6">
                <input id="email-input" name="email" class="form-control" type="email" placeholder="EMAIL ADRESS" required>
                <small class="form-control-feedback"></small>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <input id="name-textarea" name="subject" class="form-control" type="subject" placeholder="SUBJECT" required>
                <small class="form-control-feedback"></small>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <textarea id="message-textarea" class="form-control" name="message" placeholder="YOUR MESSAGE" minlength="3" required></textarea>
                <small class="form-control-feedback"></small>
            </div>
        </div>
        <div class="row">
            <div class="sendbutton">
                <button class="btn btn-primary" type="submit"><i class="fa fa-paper-plane fa-fw mr-2"></i>SEND</button>
            </div>
        </div>
    </form>
</div>


